<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Interest</title>
  </head>
  <body>
    <h2>Interest Calculation</h2>
    <form>
      Deposit Amount<br />
      <input type="number" name="amount" required value="{{amount}}" />
      <p></p>

      Interest Rate<br />
      <input type="number" name="rate" step="any" required value="{{rate}}" />
      <p></p>
      <input type="submit" value="Calculate" />
    </form>

    {% if interest %}
    <h3>Interest = {{interest}}</h3>
    {% endif %}
  </body>
</html>
